@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: "Teko", sans-serif;
  background-color: #000000;
  color: #a7d050;
  font-size: 18px;
  text-align: justify;
}

main.main-container {
  margin: 15vw 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: #a7d050;
}

h1 {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  body {
    font-size: 22px;
  }

  main.main-container {
    margin-top: 10vw;
  }
}
